html{
  min-height:100%;
}
.navbar{
  background: #000000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to right, #000000 5%, #333333 50%, #000000 95%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, #000000 5%, #333333 50%, #000000 95%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #000000 5%, #333333 50%, #000000 95%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #000000 5%, #333333 50%, #000000 95%);
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;
}

body{
  font-family: Helvetica;
  font-size: 14px;
  line-height: 18px;
  height:100%;
  color: #484949;
}
.container-fluid{

}
*:focus {
    outline: none;
}
h1, h2{
  text-transform: uppercase;
  font-weight:800;
  /*margin-top: 10px;*/
}
h1{
  font-size: 24px;
  color: #1a9dba;
  border-bottom: 1px solid #cccccc;
  padding-left: 2px;
}
h2{
  font-size: 14px;
  color: #484949;
}

.left-column, .right-column{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  /*height: 100vh;*/
}
.left-column{
  background-color: #e6e6e6;
}
.left-column .left-column-h1 {
    margin-left: 15px;
    margin-right: 15px;
}
.right-column{
  box-shadow: -2px 0px 10px #888888;
  font-weight: 100;
}

.right-column .right-column-movie-details-h1, .right-column-movie-credits-h1 {
    margin-left: 30px;
    margin-right: 30px;
}
.right-column-movie-details, .right-column-movie-credits {
    padding: 0 20px;
}
.right-column-movie-details .movie-crew-details{
  padding-left: 0px;
}
.right-column-movie-credits-lists div{
  padding-right: 0px;
  padding-left: 20px;
  line-height: 0;
}
.right-column-movie-credits-lists{
  padding-top: 20px;
}
.right-column-movie-credits-lists-names h2{
  margin-top: 10px;
}
.right-column-movie-credits-lists-section {
    margin-bottom: 10px;
}
.right-column-movie-details .movie-crew, .right-column-movie-details .movie-summary{
  padding-right: 30px;
}
.right-column-movie-details .movie-summary {
    margin-top: 40px;
}
.movie-crew .movie-crew-headline-bold{
  font-weight: 600;
}
.movie-crew p{
  margin: 0 0 0px;
}
.right-column-movie-credits-large-icon{
  padding-right: 30px;
}
.left-column .img-circle{
  width: 122px;
  height: 122px;
}
.left-column .img-container{
  text-align: center;
  line-height: 0px; 
  margin: 25px auto;
}
.left-column .img-container .director{
  font-weight: 100;
}

.right-column .poster{
  width: 174px;
  height: 262px;
}

.right-column .img-container{
  margin: 20px auto;
}
.right-column .profile-small-icon{
  width: 66px;
  height: 66px;
}
.right-column .profile-large-icon{
  width: 347px;
  height: 420px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  

}
padding-left: 15px;
padding-right: 15px;