<div class="row" ng-controller="MainCtrl as mainVm">
  <div class="col-xs-4 left-column">
    <h1 class="left-column-h1">browse movies</h1>

    
    <div class="col-sm-6 img-container" ng-repeat="movie in mainVm.parts">
        <img src="https://image.tmdb.org/t/p/w300{{movie.backdrop_path}}" 
        class="img-circle center-block"
        alt="Responsive image" 
        ng-click="mainVm.getmovieDtls($index); mainVm.rightCol='true';"
        ng-mouseover="count = true"
        ng-mouseout="count = false">
        <h2>{{movie.title}}</h2>
        <p class="director">{{movie.director}}</p>
    </div>
    
  </div>
  <div class="col-xs-8 right-column" ng-show="mainVm.rightCol">
    

    <div class="row right-column-movie-details">
    <h1 class="right-column-movie-details-h1">{{mainVm.movieDt.title}}</h1>
      <div class="col-sm-4 img-container">
          <img src="https://image.tmdb.org/t/p/w185{{mainVm.movieDt.posterPath}}" 
            class="center-block poster"
            alt="Responsive image">
        </div>
        <div class="col-sm-8 movie-crew-details">
          <div class="movie-crew">
            <h2 class="movie-crew-headline">who made it?</h2>
            <p class="movie-crew-director">Director: {{mainVm.movieDt.director}}</p>
            <p class="movie-crew-writers">Writers: {{mainVm.movieDt.writers}}</p>
            <p class="movie-crew-stars">Stars: {{mainVm.movieDt.stars}}</p>
          </div>

          <div class="movie-summary">
            <h2 class="movie-summary-headline">what&rsquo;s it about?</h2>
            <p class="movie-summary-overview">{{mainVm.movieDt.overview}}</p>
          </div>
          
        </div>
    </div>

    <div class="row right-column-movie-credits">
    <h1 class="right-column-movie-credits-h1">movie credits</h1>
        <div class="col-sm-5 row right-column-movie-credits-lists">
          <div ng-repeat="value in mainVm.movieDt.profile" class="row right-column-movie-credits-lists-section">
            <div class="col-sm-4">
              <img src="https://image.tmdb.org/t/p/w92{{value.profile_path}}" 
              class="img-circle center-block profile-small-icon"
              alt="Responsive image"
              ng-click="mainVm.getLargeIcon($index);">
            </div>
            <div class="col-sm-8 right-column-movie-credits-lists-names">
              <h2>{{value.name}}</h2>
              <p class="character">{{value.character}}</p>
            </div>  
          </div>
          
        </div>
        <div class="col-sm-7 text-right right-column-movie-credits-large-icon">
          <img src="https://image.tmdb.org/t/p/w500{{mainVm.movieDt.largeIcon}}" 
              class="profile-large-icon"
              alt="Responsive image">
          
        </div>
    </div>
    
  </div>
</div>